/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* default */
.debug .container {
  background-color: darkblue;
}
.debug .main_site {
  background-color: darkmagenta;
}
.debug .nav {
  background-color: green;
}
.debug .site_bar {
  background-color: firebrick;
}
.debug .footer_site {
  background-color: dodgerblue;
}
/* utility */
.container {
  height: 100vh;
}
.flex {
  display: flex;
}
img,
.svg {
  display: block;
}
.svg path {
  fill: #595959;
}
.self {
  align-self: center;
}
/********************
Main
*********************/
.main_site {
  margin-left: 10%;
  overflow: auto;
  height: calc(100vh - 10vh);
}
/* nav */
.nav {
  height: calc(100vh - 90vh);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 90%;
}
/* site_bar */
.site_bar {
  background-color: #000000;
  height: calc(100vh - 10vh);
  width: 10%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  flex-direction: column;
}
.personal_settings {
  padding: 1rem 0 0 1rem;
}
.personal_settings p {
  color: #ffffff;
}
.logo_spotify {
  height: 50px;
  margin-right: 0.5rem;
}
.icons img,
.icons .svg {
  height: 30px;
  width: 30px;
  margin-right: 0.5rem;
}
.grey p,
.home p {
  font-size: 0.8rem;
}
.grey p {
  color: #595959;
}
.playlist {
  margin-top: 1rem;
}
.playlist p {
  padding: 0.5rem 0;
}
.playlist .secondary_title {
  font-size: 1rem;
  color: #ffffff;
}
.playlist .self {
  font-size: 0.9rem;
  font-weight: 900;
}
.grey i {
  margin-right: 0.5rem;
  color: #a3a3a3;
}
.home,
.contenuto {
  margin-top: calc(100vh - 90vh);
}
/********************
Footer
*********************/
.footer_site {
  height: calc(100vh - 90vh);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
