/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* default */
.default .container {
  background-color: darkblue;
  height: 100vh;
}
.default .main_site {
  background-color: darkmagenta;
  margin-left: 10%;
  overflow: auto;
  height: calc(100vh - 10vh);
}
.default .nav {
  background-color: green;
  height: calc(100vh - 90vh);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 90%;
}
.default .site_bar {
  background-color: firebrick;
  height: calc(100vh - 10vh);
  width: 10%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.default .footer_site {
  background-color: dodgerblue;
  height: calc(100vh - 90vh);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
