/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-y: hidden;
}
/* debug */
.debug .container {
  background-color: blue;
}
.debug .main_site {
  background-color: darkmagenta;
}
.debug .nav {
  background-color: green;
}
.debug .site_bar {
  background-color: firebrick;
}
.debug .footer_site {
  background-color: dodgerblue;
}
/* utility */
.container {
  height: 100vh;
}
.flex {
  display: flex;
}
img,
.svg {
  display: block;
}
.svg path {
  fill: #595959;
}
.svg .user path {
  fill: white;
}
.self {
  align-self: center;
}
.line::after {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  background-color: #74a82a;
  text-align: center;
  margin: auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row {
  padding: 1rem;
}
h2,
h3 {
  padding-bottom: 1rem;
}
.col_16 {
  width: 16.66%;
  float: left;
  padding: 0.5rem;
}
.album {
  width: 100%;
}
/********************
Main
*********************/
.main_site {
  height: calc(100vh - 10vh);
}
/* site_bar */
.site_bar {
  background-color: #000000;
  height: calc(100vh - 10vh);
  justify-content: space-between;
  flex-direction: column;
}
.site_right {
  width: calc(100% - 10%);
}
/* nav */
.nav {
  height: calc(100vh - 90vh);
  width: 100%;
  text-align: right;
  padding: 1rem;
  background-color: #080b12;
}
.btn {
  background-color: #080b12;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 2px solid white;
}
.personal_settings,
.profile {
  padding: 1rem;
}
.personal_settings p {
  color: #ffffff;
}
.logo_spotify {
  height: 50px;
  margin-right: 0.5rem;
}
.icons img,
.icons .svg {
  height: 30px;
  width: 30px;
  margin-right: 0.5rem;
}
.home {
  margin-top: 1rem;
}
.grey p,
.home p {
  font-size: 0.8rem;
}
.search {
  padding: 1rem 0;
}
.grey p {
  color: #595959;
}
.playlist {
  margin-top: 1rem;
}
.playlist p {
  padding: 0.5rem 0;
}
.playlist .secondary_title {
  font-size: 1rem;
  color: #ffffff;
}
.playlist .self {
  font-size: 0.9rem;
  font-weight: 900;
}
.grey i {
  margin-right: 0.5rem;
  color: #a3a3a3;
}
.grey .user p {
  color: white;
}
.icon {
  height: 25px;
  width: 25px;
  background-color: #808080;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.icon svg {
  height: 20px;
  width: 100%;
}
p.self.size.name {
  color: white;
}
hr {
  margin: 0.5rem;
}
.download {
  height: 20px;
  width: 20px;
  display: block;
  margin-right: 0.5rem;
}
.download svg path {
  fill: #595959;
}
.songs {
  background-color: #141922;
  color: white;
  height: calc(100vh - 20vh);
  width: 100%;
  overflow: auto;
}
.menu {
  text-align: center;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: inline-block;
  padding: 0.5rem;
  color: #595959;
  font-size: 0.8rem;
  font-weight: 900;
}
.artists {
  text-align: center;
  padding: 1rem;
}
.artists p,
.suggerimenti {
  font-size: 0.8rem;
  color: #595959;
}
.suggerimenti {
  padding-bottom: 0.5rem;
}
/********************
Footer
*********************/
.footer_site {
  height: calc(100vh - 90vh);
  width: 100vw;
  background-color: #282828;
  align-items: center;
  padding: 1rem 0.5rem;
  justify-content: space-between;
  overflow: hidden;
}
.footer_site img {
  height: 50px;
}
.footer_left {
  align-items: center;
}
.footer_left_song {
  margin: 0 1rem;
}
.footer_left h4 {
  font-size: 0.8rem;
  color: #ffffff;
}
.footer_left p {
  font-size: 0.7rem;
  color: #595959;
}
.footer_left i {
  margin: 0 0.5rem;
  color: #595959;
}
.footer_middle i,
.footer_right i {
  color: #ffffff;
  margin: 0 1rem;
}
.play {
  padding: 0 4rem 1rem 4rem;
  align-items: center;
  justify-content: center;
}
.time p {
  color: #ffffff;
  font-size: 0.6rem;
  padding: 0 1rem 0 1rem;
}
.full_progressbar {
  height: 5px;
  background-color: #5a5a5a;
  width: 100%;
  align-self: center;
  position: relative;
  cursor: pointer;
}
.progressbar {
  height: 5px;
  background-color: #c1c1c1;
  width: 25%;
}
.hidden_progressbar {
  position: absolute;
  top: 50%;
  left: 25%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.full_progressbar:hover .progressbar {
  background-color: #74a82a;
}
.full_progressbar:hover .hidden_progressbar {
  background-color: #ffffff;
  border-radius: 50%;
}

.footer_right .full_progressbar {
  width: 5rem;
}
